[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lsweigart12
	email = 73839819+lsweigart12@users.noreply.github.com
